
#import {
  select {
    width: 300px;
  }
  .select-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#events-to-remove {
  table td {
    text-decoration: line-through;
  }
}

.calendar-option {
  > span {
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -3px;
    @include border-radius(100px);
  }
}
