@charset "UTF-8";
//@import "compass";
@import "_mixins.scss";
@import "_select2.scss";
@import "_import.scss";
@import "_index.scss";

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700|Open+Sans+Condensed:300,400,700");

h1,h2,h3,h4,h5,h6 {
  @include title-font();
}

body {
  @include body-font();
}

.btn, .alert {
  border-radius: 0;
}

.jumbotron {
  color: white;
  h1,h2,h3,h4 {
    color: white;
    font-weight: 700;
  }
  .wrapper {
    position: relative;
    $img-width: 60px;
    img {
      position: absolute;
      width: $img-width;
      margin-top: -22px;
    }
    .texts {
      z-index: 2;
      position: relative;
      h1 {
        padding-left: ($img-width + 3px);
        display: inline;
        b {
          opacity: 0;
          width: 1px;
          display: inline-block;
        }
      }
      h4 {
        font-weight: 400;
        margin-top: 20px;
      }
    }
  }
  background: $color-red;
  border-radius: 0;
}
