<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forever kalenterivitkautin</title>
  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css?h={{Global.ApplicationStartTime}}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <script text="text/javascript" src="/js/vendor/jquery.min.js?h={{Global.ApplicationStartTime}}"></script>
</head>
<body class="container">
  {{{body}}}
</body>
</html>
