<div id="calendars">
  <h1>Synkronoi Forever-varaukset Google-kalenteriin</h1>

  <table><tbody>
  <tr>
    <td><h3>Valitse kalenteri:</h3></td>
    <td>
      <select>
        {{#calendars}}
        <option value="{{id}}"
                data-background-color="{{backgroundColor}}"
                data-foreground-color="{{foregroundColor}}">{{summary}}</option>
        {{/calendars}}
      </select>
    </td>
  </tr>
  </tbody></table>

</div>
