<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body class="container">
  <main>
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>Welcome to templating using EJS</p>
    </div>
  </main>

  <h4>TODO <small class="text-muted"><%= message %></small></h4>
  <ul>
    <li>https://github.com/scotch-io/node-ejs</li>
    <li>https://scotch.io/tutorials/use-ejs-to-template-your-node-application</li>
  </ul>
  
  <h1>Bookmarklet</h1>
  <p>Raahaa bookmarkkeihin:<p>
  <div>
    <a href="<%= Global.Bookmarklet %>" title="Forever-treenit kalenteriin">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-bookmark fa-stack-1x"></i>
      </span>
      Forever-treenit kalenteriin
    </a>
  </div>

  <pre>

  </pre>

</body>
</html>
