<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body class="container">
  <main>
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>Welcome to templating using EJS</p>
    </div>
  </main>

  <h4>TODO <small class="text-muted"><%= message %></small></h4>
  <ul>
    <li>https://github.com/scotch-io/node-ejs</li>
    <li>https://scotch.io/tutorials/use-ejs-to-template-your-node-application</li>
  </ul>

</body>
</html>
