<div id="index">
  <main class="row">
    <div class="jumbotron">
      <h1>Forever-kuntosalin epävirallinen kalenterivitkutin</h1>
      <p><i class="fa fa-thumbs-up fa-lg"></i> Synkronoi Forever-tuntivaraukset Google-kalenteriisi!</p>
    </div>
  </main>

  <h1>Lisää synkronointi-kirjanmerkki</h1>
  <p>
    Synkronointi tapahtuu kirjanmerkin avulla (ns. <em>"bookmarklet"</em>).
  </p>
  <div>
    <a class="has-tooltip" href="{{Global.Bookmarklet}}" title="Raahaa minut kirjanmerkkeihisi!">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-bookmark fa-stack-1x"></i>
      </span>
      Forever-tuntivaraukset kalenteriin
    </a>
  </div>
</div>
