<div id="index">
  <h2>Lisää synkronointi-kirjanmerkki</h2>
  <p>
    Synkronointi tapahtuu kirjanmerkin avulla (ns. <em>"bookmarklet"</em>). Lisää olla oleva linkki kirjanmerkkeihisi.
  </p>
  <p>
    <a class="has-tooltip" href="{{Global.Bookmarklet}}" title="Raahaa minut kirjanmerkkeihisi!">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-bookmark fa-stack-1x"></i>
      </span>
      Forever-tuntivaraukset kalenteriin
    </a>
  </p>

  <h2>Näin se toimii</h2>
  <p>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe src="https://www.youtube.com/embed/HmrPRd2VbWI" frameborder="0" allowfullscreen></iframe>
  </div>
  </p>

  <img src="/img/insinoori.jpg" class="avatar img-circle pull-right hidden hidden-xs-down" />
  <h2>Mikäs palvelu tämä on?</h2>
  <p>
    <a href="http://www.pyppe.fi/" target="_blank">Pyry</a> on insinööri.
    Laiskat insinöörit kyllästyvät nopeasti manuaaliseen, itseään toistavaan työhön.
    Tuntivarausten käsin kopiointi tuntivarausjärjestelmästä omaan kalenteriin on tylsää puuhaa.
  </p>
  <p class="hidden-sm-up"><img src="/img/insinoori.jpg" class="avatar img-rounded center-block" /></p>
  <p>
    Pyry kyllästyi ja kirjoitti itselleen ohjelman toiminnan automatisoinniksi. Pyry tuumi, että tätähän
    saattaisi joku muukin haluta käyttää. Tättädädää: tässä ollaan.
  </p>
  <div style="clear: both;"></div>

</div>
